#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 7em 2em 2.5em;
    background-color: #F1F1F1;
}

.navbar-top-links {
    margin-right: 0;
}

    .navbar-top-links li {
        display: inline-block;
    }

        .navbar-top-links li:last-child {
            margin-right: 15px;
        }

        .navbar-top-links li a {
            padding: 15px;
            min-height: 50px;
        }

    .navbar-top-links .dropdown-menu li {
        display: block;
    }

        .navbar-top-links .dropdown-menu li:last-child {
            margin-right: 0;
        }

        .navbar-top-links .dropdown-menu li a {
            padding: 3px 20px;
            min-height: 0;
        }

            .navbar-top-links .dropdown-menu li a div {
                white-space: normal;
            }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        width: 310px;
        min-width: 0;
    }

    .navbar-top-links .dropdown-messages {
        margin-left: 5px;
    }

    .navbar-top-links .dropdown-tasks {
        margin-left: -59px;
    }

    .navbar-top-links .dropdown-alerts {
        margin-left: -123px;
    }

    .navbar-top-links .dropdown-user {
        right: 0;
        left: auto;
    }

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
    margin-bottom: 0;
}

    .sidebar .nav-second-level li a {
        padding-left: 53px;
        font-size: .9em;
    }

    .sidebar .nav-third-level li a {
        padding-left: 52px;
    }

@media(min-width:768px) {
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

loading-screen {
    display: none;
}

body.loading {
}

    body.loading .loading-screen {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999999999;
        overflow: hidden;
    }

        body.loading .loading-screen .spinner {
            width: 50px;
            height: 50px;
            top: calc(50% - 25px);
            left: calc(50% - 25px);
            position: absolute;
            -webkit-animation: rotateit 1.3s linear infinite;
            animation: rotateit 1.3s linear infinite;
        }

@-webkit-keyframes rotateit {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes rotateit {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

body.loading .loading-screen .spinner.circles div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 20px;
    left: 22px;
}

    body.loading .loading-screen .spinner.circles div:nth-child(1) {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(1.4);
        transform: rotate(0deg) translate(0, -20px) scale(1.4);
    }

    body.loading .loading-screen .spinner.circles div:nth-child(2) {
        -webkit-transform: rotate(45deg) translate(0, -21px) scale(1.2);
        transform: rotate(45deg) translate(0, -21px) scale(1.2);
        opacity: 0.7;
    }

    body.loading .loading-screen .spinner.circles div:nth-child(3) {
        -webkit-transform: rotate(90deg) translate(0, -21px) scale(1.1);
        transform: rotate(90deg) translate(0, -21px) scale(1.1);
        opacity: 0.6;
    }

    body.loading .loading-screen .spinner.circles div:nth-child(4) {
        -webkit-transform: rotate(135deg) translate(0, -22px) scale(0.9);
        transform: rotate(135deg) translate(0, -22px) scale(0.9);
        opacity: 0.5;
    }

    body.loading .loading-screen .spinner.circles div:nth-child(5) {
        -webkit-transform: rotate(180deg) translate(0, -22px) scale(0.7);
        transform: rotate(180deg) translate(0, -22px) scale(0.7);
        opacity: 0.4;
    }

    body.loading .loading-screen .spinner.circles div:nth-child(6) {
        -webkit-transform: rotate(225deg) translate(0, -23px) scale(0.5);
        transform: rotate(225deg) translate(0, -23px) scale(0.5);
        opacity: 0.3;
    }

    body.loading .loading-screen .spinner.circles div:nth-child(7) {
        -webkit-transform: rotate(270deg) translate(0, -24px) scale(0.3);
        transform: rotate(270deg) translate(0, -24px) scale(0.3);
        opacity: 0.2;
    }

    body.loading .loading-screen .spinner.circles div:nth-child(8) {
        -webkit-transform: rotate(315deg) translate(0, -25px) scale(0.1);
        transform: rotate(315deg) translate(0, -25px) scale(0.1);
        opacity: 0.1;
    }

.status-active {
    color: #286090
}

.status-delete {
    color: #c9302c
}

.clear {
    clear: both;
}

.search-btn {
}

    .search-btn #search-btn {
        margin-right: 10px;
    }

.filters {
    padding: 1em 1em 0.5em !important;
}

.col-filter {
    padding: 8px !important;
}

.table-filter {
    margin-bottom: 10px !important;
}

.data-image {
    width: 50px;
    height: 50px;
}
